html {
  font-size: 10px;
}
body {
  padding: 3.3rem 3rem 3.4rem;
  min-height: 100vh;
  background: url("./images/bg-mobile.svg");
  background-color: var(--violet);
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 100%;
  align-content: start;
  grid-template-rows: auto auto;
  grid-gap: 40px;
}

.wrapper {
  display: grid;
  grid-gap: 7rem /*132.42px */;
  grid-template-columns: 100%;
  align-content: start;
  justify-content: center;
}

header {
  display: grid;
  grid-template-columns: auto 1fr;
}

header .logo {
  height: 100%;
  width: 100%;
  max-width: 23.3rem /* 233px*/;
  max-height: 3.457rem /* 34.576px */;
}

main {
  display: grid;
  grid-gap: 6rem;
  grid-template-columns: 100%;
}

.device-img {
  width: 100%;
  height: 100%;
}

.info {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 2rem;
}

.info-title {
  font-family: var(--poppins);
  font-weight: 600;
  font-size: 2.6rem;
  text-align: center;
  color: white;
}

.description {
  width: 100%;
  max-width: 69.4rem;
  justify-self: center;
  color: white;
  text-align: center;
  font-size: 1.96rem;
  font-weight: 400;
  font-style: var(--open-sans);
}

.register-btn {
  border: none;
  font-family: var(--poppins);
  justify-self: center;
  color: var(--violet);
  width: 80%;
  max-width: 20rem;
  padding: 1.2rem;
  border-radius: 56px;
  transition: background 0.3s ease, color 0.3s ease;
}

.register-btn:hover {
  background: var(--soft-magenta);
  color: white;
}

.media-icon {
  width: 100%;
}

.media-icon h2 {
  font-size: 0.1px;
  opacity: 1;
}

.media-icon ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr repeat(3, auto) 1fr;
  grid-gap: 1.5rem;
}

.media-icon ul li {
  width: 100%;
}

.facebook {
  grid-column: 2 / span 1;
}

.twitter {
}

.camera {
}

.media-icon ul li a i {
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  font-size: 1.7rem;
  padding: 0.6rem 0.8rem;
  text-decoration: none;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.media-icon ul li a i:hover {
  border-color: var(--soft-magenta);
  color: var(--soft-magenta);
}

footer {
  font-size: 2rem;
  text-align: center;
  align-self: end;
}

footer a {
  color: white;
  text-decoration: none;
}

/*responsive */

@media screen and (min-width: 900px) {
  html {
    font-size: 16px;
  }

  body {
    padding: 5.375rem 1.139rem 2.25rem 5rem;
    background: url("./images/bg-desktop.svg");
    background-color: var(--violet);
    background-repeat: no-repeat;
    grid-gap: 110px;
  }

  .wrapper {
    grid-gap: 5.476rem /* 87.62px*/;
  }

  header {
    align-self: start;
  }

  header .logo {
    width: 12.375rem;
    height: 2.836rem;
  }

  main {
    align-self: start;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 3.5rem;
  }

  .device-img {
    width: 100%;
    justify-self: end;
    max-width: 43.5rem;
    max-height: 30.812rem;
  }

  .info {
    justify-self: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .info-title {
    margin-top: 35px;
    font-size: 1.8rem;
    text-align: left;
    max-width: 24.6875rem /* 379px*/;
    align-self: flex-start;
  }

  .description {
    text-align: left;
    font-size: 1.2rem;
    max-width: 27.625rem;
  }

  .media-icon {
    align-self: start;
  }

  .media-icon ul {
    grid-template-columns: 1fr repeat(3, auto);
    grid-gap: 1rem;
  }

  .media-icon ul li a i {
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    font-size: 1.2rem;
    padding: 0.6em 0.8rem;
    text-decoration: none;
  }

  .register-btn {
    font-size: 1.125rem;
    width: 12.5rem;
    padding: 0.9rem;
    justify-self: start;
    align-self: start;
  }

  footer {
    font-size: 1.4rem;
    align-self: end;
  }
}

@media screen and (min-width: 1440px) {
  body {
    padding: /*3.3rem 3rem 3.4rem# 5.375rem 3.139rem 2.25rem 5rem*/ 4.375
      3.139rem 2.25rem 4rem;
    grid-gap: 50px;
  }

  main {
    grid-template-columns: repeat(auto-fit, minmax(627px, 1fr)) /* repeat(auto-fit, minmax(625px, 1fr))*/;
    grid-gap: 3.5rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .info-title {
    max-width: 523px;
    font-size: 2.5625rem /*41px*/;
    align-self: flex-start;
  }

  .description {
    max-width: 523px;
    font-size: 20.6px /*18px*/;
  }
  .media-icon {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(625px, 1fr));
    grid-template-areas: "left right";
    grid-gap: 3rem;
  }

  .media-icon ul {
    grid-area: right;
    justify-self: start;
  }

  .media-icon ul {
    grid-template-columns: 350px repeat(3, auto);
    grid-gap: 1rem;
    margin-right: 0;
  }
}

@media screen and (max-width: 300px) {
  html {
    font-size: 6px;
  }
  body {
    padding: 1.3rem 1rem 1.4rem;
  }

  .description {
    font-size: 2rem;
  }

  .media-icon ul {
    grid-template-columns: 100%;
    justify-items: center;
    grid-gap: 8px;

    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "facebook"
      "twitter"
      "instagram";
  }

  .media-icon ul li {
    width: 100%;
  }

  .media-icon ul li a {
    display: block;
    text-align: center;
  }

  .media-icon ul li a i {
    text-align: center;
    width: auto;
  }

  .facebook {
    grid-area: facebook;
  }

  .twitter {
    grid-area: twitter;
  }

  .instargram {
    grid-area: instagram;
  }
}
